<html>
    <head>
        <title> Random Generating TWT Clone</title>
        <!-- Add any additional CSS or meta tags here -->
    </head>
    <body>
        <h1> Random Generating TWT Clone :)</h1>
        <ol>
            <li><a href="/">Menu</a></li>
            {% if logged_in %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/create_message">Create Message</a></li> <!-- Add this line -->
            {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/create_user">Create User</a></li>
            {% endif %}
        </ol>

        {% block content %}
        {% endblock %}
    </body>
</html>

